# Flutter / Dart
.dart_tool/
.packages
build/
.pub-cache/
.pub/

# IDE
.idea/
*.iml
.vscode/

# Docs
docs/

# Android
.gradle/
**/android/.gradle/
local.properties
**/android/local.properties
*.keystore

# iOS
Pods/
.symlinks/
**/ios/Pods/

# macOS
.DS_Store
